.navbar-default{
  margin-bottom: 0px;
  min-height: 80px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 10px;
}

.navbar-header{
  min-height: 80px;
}

.navbar-brand {
  padding-top: 7px;
  padding-bottom: 0px;
  padding-left: 40px;
}

li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

li a:hover {
  font-weight: 700;
  padding-bottom: 0px;
  border-bottom: 5px solid red;
  border-bottom-color: #E51C23;
}

li a:active {
  font-weight: 700;
  padding-bottom: 0px;
  border-bottom: 5px solid red;
  border-bottom-color: #E51C23;
}

.glyphicon {
  font-size: 16px;
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #E51C23;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

/* Demo 2 */
#form-2 {
  margin-top: 19px;
}

#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

#demo-2 input[type=search]:hover {
  background-color: #fff;
}

#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

#demo-2 input:-moz-placeholder {
  color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}
